<h2>
    {{article-header}}
</h2>
<div id="input-content-space">
    <label>{{label}}</label>
    {{#unless isDefault}}

    {{#if isSend}}
    <form action="/action_page.php">
        <select name="interest" id="select-interest">
            {{#each interest}}
            <option value="{{interest-value}}">{{interest-name}}</option>
            {{/each}}
        </select>
        <br><br>
    </form>

    <br>
    <textarea type="text" id="message-input" placeholder="Type your mail here!"></textarea>
    <input type="submit" id="{{button-id}}" class="button" value="{{button-value}}">
    {{/if}}

    {{#if isPerson}}
    <input type="text" id="name-input" name="first-name" placeholder="{{placeholder-value}}">
    <input type="submit" id="{{button-id}}" class="button" value="{{button-value}}">
    {{/if}}

    {{/unless}}
</div>