<ul>
    {{#each menu}}
    <li {{#if blankspace}} class="blank-space" {{else}} id="{{menuId}}" {{/if}}>
        {{#switch is}}
        {{#case "menu-link"}}
        <a class="menu-link" href="{{hyperlink}}">{{menuLinkName}}</a>
        <!--TODO replace href -->
        {{#if dropdown}}
        <ul class="dropdown">
            {{#each dropdown-link}}
            <li><a class="dropdown-menu-link" id="{{dropdown-link-id}}" href="{{dropdown-href}}">{{dropdown-name}}</a>
            </li>
            {{/each}}
        </ul>
        {{/if}}
        {{/case}}

        {{#case "header-space"}}
        <a class="main-site-link">
            <h1 id="main-header" header-content="MailSender"></h1>
        </a>
        {{/case}}
    </li>
    {{/switch}}
    {{/each}}
</ul>