{{#each textFields}}
<label>{{label}}</label>
<input type="text" id="{{inputId}}" name="first-name" placeholder="{{placeholderValue}}">
{{/each}}
<input type="submit" id="{{buttonId}}" class="button" value="{{buttonValue}}">