<label>Interests:</label>
{{#each interests}}
<div class="checkbox-div">
    <input type="checkbox" id="checkbox-{{interestId}}" dataInterestId="{{interestId}}" name="{{interest}}"
        class="interest-checkbox">
    <label class="interest-checkbox-label" for="checkbox-{{interestId}}">{{interest}}</label>
</div>
{{/each}}