<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External css -->

    <%= htmlWebpackPlugin.options.contextPath %> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      rel="stylesheet"
      property="stylesheet"
      href="<%= htmlWebpackPlugin.files.css[css] %>"
    />
    <% } %>
  </head>

  <body>
    <div id="menu">
      <!-- menu injection -->
  </div>

  <script id = "menu-template" type = "text/x-handlebars-template">
      <ul>
          {{#each menu}}
              <li {{#if blankspace}} class="blank-space" {{else}} id="{{menuId}}" {{/if}}>
              {{#switch is}}
                  {{#case "menu-link"}}
                      <a class= "menu-link" href="{{hyperlink}}">{{menuLinkName}}</a>
                      {{#if dropdown}}
                          <ul class="dropdown">
                              <li><a class= "dropdown-menu-link" id="menu-delete-user" href="#">User</a></li>
                              <li><a class= "dropdown-menu-link" id="menu-delete-interest" href="#">Interest</a></li>
                          </ul>
                      {{/if}}
                  {{/case}}
          
                  {{#case "header-space"}}
                      <a class= "main-site-link" href="http://localhost:8080/"><h1 id="main-header">MailSender</h1></a>
                  {{/case}}
              </li>
              {{/switch}}
          {{/each}}
      </ul>
  </script>

  <section id="main-section">
      <!-- main section injection -->
  </section>

  <script id = "main-section-template" type = "text/x-handlebars-template">
      {{#each main-section}}
          <article  id="{{articleId}}" class="article-in-main-section">
              <h2>{{article-header}}</h2>
              {{#if isPersons}}
                  <div id = 'table-space'>
                      
                  </div>
              {{/if}}
         </article>
      {{/each}}
  </script>

  <script id = "table-template" type = "text/x-handlebars-template">
      <table id="person-table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody>
              {{#each persons}}
                  <tr>
                      <td>{{id}}</td>
                      <td>{{name}}</td>
                  </tr>
              {{/each}}
          </tbody>
      </table>
  </script>

    <!-- External libs -->

    <!-- App -->
    <%= htmlWebpackPlugin.files.webpackManifest %>
    <%=htmlWebpackPlugin.files.webpackChunkManifest%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script
      charset="utf-8"
      type="application/javascript"
      src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
      defer
    ></script>
    <% } %>
  </body>
</html>